
.icon-instagram:before { content: '\e800'; } /* '' */
.icon-clock:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-emo-happy:before { content: '\e803'; } /* '' */
.icon-android:before { content: '\e804'; } /* '' */
.icon-basket:before { content: '\e805'; } /* '' */
.icon-trash:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-plus:before { content: '\e808'; } /* '' */
.icon-ok:before { content: '\e809'; } /* '' */
.icon-ok-circled:before { content: '\e80a'; } /* '' */
.icon-attach:before { content: '\e80b'; } /* '' */
.icon-picture:before { content: '\e80c'; } /* '' */
.icon-cloud:before { content: '\e80d'; } /* '' */
.icon-arrows-cw:before { content: '\e80e'; } /* '' */
.icon-comment:before { content: '\e80f'; } /* '' */
.icon-comment-alt:before { content: '\e810'; } /* '' */
.icon-firefox:before { content: '\e840'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-opera:before { content: '\e842'; } /* '' */
.icon-ccw:before { content: '\f025'; } /* '' */
.icon-mobile:before { content: '\f034'; } /* '' */
.icon-user-female:before { content: '\f063'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */
.icon-recycle:before { content: '\f1b8'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-skype:before { content: '\f30b'; } /* '' */